/* Fonts */
@font-face {
  font-family: 'Roboto-Light';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DLight.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DL.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Reg';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DRegular.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DR.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DBold.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DB.woff") format("woff");
}

/* End of Fonts */
/* Imported _Mixins For Media Queries ==== 
========================================*/
/*=== Button States ===*/
/*=== Link Styles ===*/
/* Global Variable Styles ==== 
=========Family ============*/
/* Font Sizes ================
=========Sizes==============*/
/* Resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

:root {
  font-size: 16px !important;
}

.quick-access-outer-wrapper {
  max-width: 100%;
  margin-bottom: 20px;
}

.quick-access-outer-wrapper h1 {
  font-family: "Roboto-Reg", sans-serif !important;
  font-size: 2rem !important;
  letter-spacing: 0;
  line-height: 43px;
  color: #56A3D5 !important;
}

.quick-access-outer-wrapper .quick-access-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 950 */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* 600 */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container {
  background: linear-gradient(135deg, #56A3D5 0%, #5DA1BF 44.06%, #70A494 100%);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 950 */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* 600 */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container {
    width: 100%;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container {
    width: 100%;
    padding: 20px 0;
  }
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-header {
  font-family: "Roboto-Bold", sans-serif !important;
  font-size: 1.625rem !important;
  color: #ffffff !important;
  letter-spacing: -0.6px;
  line-height: 34px;
  position: relative;
  top: 20px;
  left: -12px;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 1100px) and (min-width: 951px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-header {
    font-size: 1.4rem !important;
  }
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-header {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list {
  font-family: "Roboto-Bold", sans-serif !important;
  font-size: 1.125rem !important;
  line-height: 55px;
  letter-spacing: 0;
  color: #ffffff !important;
  list-style-position: inside;
  padding-left: 0 !important;
  /* 1100px */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 1100px) and (min-width: 951px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
    line-height: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 80%;
    margin: 0 auto;
  }
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item {
  margin: 28px 8px;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item {
    margin: 0 15px !important;
  }
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item .quick-access-list-item-link {
  color: #ffffff !important;
  color: #ffffff;
  text-decoration: none;
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item .quick-access-list-item-link:visited {
  color: #ffffff;
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item .quick-access-list-item-link:focus {
  color: #ffffff;
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item .quick-access-list-item-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.quick-access-outer-wrapper .quick-access-inner-wrapper .quick-access-container .quick-access-inner-container .quick-access-list .quick-access-list-item .quick-access-list-item-link:active {
  color: #ffffff;
}

.swiper-container {
  height: 400px;
  width: 60%;
  color: #ffffff !important;
  /* 950 */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* 600 */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .swiper-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .swiper-container {
    width: 100%;
  }
}

.swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .swiper-container .swiper-wrapper .swiper-slide {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.swiper-container .swiper-wrapper .swiper-slide-active:before {
  background-position: 50% 5% !important;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .swiper-container .swiper-wrapper .swiper-slide-active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px) !important;
    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    -webkit-transform: translateX(100%) !important;
            transform: translateX(100%) !important;
  }
}

.swiper-container .swiper-wrapper .swiper-text-overlay-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  padding: 0 10px;
  margin-left: 24px;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 1100px) and (min-width: 951px) {
  .swiper-container .swiper-wrapper .swiper-text-overlay-container {
    width: 400px;
  }
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .swiper-container .swiper-wrapper .swiper-text-overlay-container {
    width: 390px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .swiper-container .swiper-wrapper .swiper-text-overlay-container {
    width: 80vw;
    position: absolute;
    margin-left: 0 !important;
  }
}

.swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-text-overlay {
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
  color: #424242 !important;
  font-family: "Roboto-Bold" !important;
  font-size: 1.5rem !important;
  /* 1100px */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 1100px) and (min-width: 951px) {
  .swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-text-overlay {
    font-size: 1.3rem !important;
  }
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-text-overlay {
    font-size: 1.15rem !important;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-text-overlay {
    font-size: 1.1rem !important;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
  }
}

.swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-cta-btn {
  width: 311px;
  height: 40px;
  border-radius: 24px;
  border: #481F5D;
  font-family: "Roboto-Reg" !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: #ffffff !important;
  text-align: center;
  margin-top: 20px;
  background: #481F5D;
}

.swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-cta-btn:hover {
  background: #30153e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-cta-btn:active {
  background: #1c0c24;
}

.swiper-container .swiper-wrapper .swiper-text-overlay-container .swiper-slide-cta-btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px lightskyblue;
          box-shadow: 0 0 0 3px lightskyblue;
}

.swiper-container .swiper-pagination {
  border-radius: 14.5px;
  background-color: rgba(255, 255, 255, 0.5) !important;
  width: 63px !important;
  height: 29px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Custom Pagination Bullet Styles -- Overrides Pagination Positioning */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 88% !important;
}

/* Browser Specific Styles */
/*  IE10+ */
@media only screen and (-ms-high-contrast: active) and (max-width: 600px) and (min-width: 320px), only screen and (-ms-high-contrast: none) and (max-width: 600px) and (min-width: 320px) {
  .swiper-slide {
    background-image: url(/asset/sendero_member_home_page/img/carousel/Group%2DIE.png) !important;
  }
  .swiper-slide .swiper-text-overlay-container {
    margin-left: 0 !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (-ms-high-contrast: active) and (max-width: 950px) and (min-width: 601px), only screen and (-ms-high-contrast: none) and (max-width: 950px) and (min-width: 601px) {
  .quick-access-list {
    left: 100px !important;
    position: relative !important;
    -ms-flex-preferred-size: 100px !important;
        flex-basis: 100px !important;
    max-width: 75% !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  .swiper-text-overlay-container {
    width: 390px !important;
    position: relative !important;
  }
  .swiper-text-overlay-container .swiper-slide-text-overlay {
    width: 100% !important;
  }
}

/* Chrome, Safari, and also the Edge Browser and Firefox */
@supports (-ms-ime-align: auto) {
  .swiper-text-overlay-container {
    margin-left: 18px !important;
  }
  .swiper-text-overlay-container .swiper-slide-text-overlay {
    padding: 0 20px;
  }
}

/* Safari Only */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media only screen and (max-width: 600px) and (min-width: 320px) {
      .swiper-text-overlay-container {
        margin-left: 0 !important;
      }
    }
    /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  }
}
/*# sourceMappingURL=sendero_home_page_quick_access_swiper.css.map */