/* Fonts */
@font-face {
    font-family: 'Roboto-Light';
    src: url('/asset/sendero_member_home_page/fonts/Roboto%2DLight.woff2') format('woff2'),
        url('/asset/sendero_member_home_page/fonts/Roboto%2DL.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Reg';
    src: url('/asset/sendero_member_home_page/fonts/Roboto%2DRegular.woff2') format('woff2'),
        url('/asset/sendero_member_home_page/fonts/Roboto%2DR.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/asset/sendero_member_home_page/fonts/Roboto%2DBold.woff2') format('woff2'),
        url('/asset/sendero_member_home_page/fonts/Roboto%2DB.woff') format('woff');
}

/* End of Fonts */

/* Imported _Mixins For Media Queries ==== 
========================================*/
@import "../css/mixins";

/* Global Variable Styles ==== 
=========Family ============*/
$font-bold: 'Roboto-Bold';
$font-normal: 'Roboto-Reg';
$font-light: 'Roboto-Light';

/* Font Sizes ================
=========Sizes==============*/
$font-size-user: 2rem;
$font-size-header: 1.625rem;
$font-size-secondary: 1.125rem;
$font-size-swiper-cta: 1.5rem;
$font-size-cta-button: 1rem;

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

:root {
    font-size: 16px !important;
}

.quick-access-outer-wrapper {
    max-width: 100%;
    margin-bottom: 20px;

    h1 {
        font-family: $font-normal, sans-serif !important;
        font-size: $font-size-user !important;
        letter-spacing: 0;
        line-height: 43px;
        color: #56A3D5 !important;
    }

    .quick-access-inner-wrapper {
        display: flex;

        /* 950 */
        @include respond(small-laptop) {
            flex-direction: column !important;
        }

        /* 600 */
        @include respond(tablet-mobile) {
            flex-direction: column !important;
        }

        .quick-access-container {
            background: linear-gradient(135deg, #56A3D5 0%, #5DA1BF 44.06%, #70A494 100%);
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            /* 950 */
            @include respond(small-laptop) {
                width: 100%;
                padding: 20px 0;
            }

            /* 600 */
            @include respond(tablet-mobile) {
                width: 100%;
                padding: 20px 0;
            }

            .quick-access-inner-container {
                display: flex;
                flex-direction: column;

                .quick-access-header {
                    font-family: $font-bold, sans-serif !important;
                    font-size: $font-size-header !important;
                    color: #ffffff !important;
                    letter-spacing: -0.6px;
                    line-height: 34px;
                    position: relative;
                    top: 20px;
                    left: -12px;


                    @include respond(large-laptop) {
                        font-size: 1.4rem !important;
                    }

                    @include respond(small-laptop) {
                        align-self: center;
                        top: 0;
                        left: 0;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                }

                .quick-access-list {
                    font-family: $font-bold, sans-serif !important;
                    font-size: $font-size-secondary !important;
                    line-height: 55px;
                    letter-spacing: 0;
                    color: #ffffff !important;
                    list-style-position: inside;
                    padding-left: 0 !important;


                    /* 1100px */
                    @include respond(large-laptop) {
                        font-size: 1rem !important;
                    }

                    @include respond(small-laptop) {
                        display: flex;
                        flex-wrap: wrap;
                        flex-basis: 70px;
                        line-height: 32px;
                        justify-content: center;
                        max-width: 80%;
                        margin: 0 auto;

                    }

                    .quick-access-list-item {
                        margin: 28px 8px;

                        @include respond(small-laptop) {
                            margin: 0 15px !important;
                        }

                        .quick-access-list-item-link {
                            color: #ffffff !important;
                            @include linx(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
                            text-decoration: none;
                        }
                    }

                }
            }
        }
    }
}

.swiper-container {
    height: 400px;
    width: 60%;
    color: #ffffff !important;


    /* 950 */
    @include respond(small-laptop) {
        width: 100%;
    }

    /* 600 */
    @include respond(tablet-mobile) {
        width: 100%;
    }

    .swiper-wrapper {



        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;


            @include respond(tablet-mobile) {
                align-items: center;
            }
        }

        .swiper-slide-active:before {

            background-position: 50% 5% !important;

            @include respond(tablet-mobile) {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: inherit;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                filter: blur(10px);
                -moz-filter: blur(10px);
                -webkit-filter: blur(10px);
                -o-filter: blur(10px);
                -ms-filter: blur(10px) !important;

                transition: all 2s linear;
                -moz-transition: all 2s linear;
                -webkit-transition: all 2s linear;
                -o-transition: all 2s linear;

                transform: translateX(100%) !important;
            }

        }

        .swiper-text-overlay-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 450px;
            padding: 0 10px;
            margin-left: 24px;

            @include respond(large-laptop) {
                width: 400px;
            }

            @include respond(small-laptop) {
                width: 390px;
            }

            @include respond(tablet-mobile) {
                width: 80vw;
                position: absolute;
                margin-left: 0 !important;

            }


            .swiper-slide-text-overlay {
                letter-spacing: 0;
                line-height: 32px;
                text-align: center;
                color: #424242 !important;
                font-family: $font-bold !important;
                font-size: $font-size-swiper-cta !important;

                /* 1100px */
                @include respond(large-laptop) {
                    font-size: 1.3rem !important;
                }

                @include respond(small-laptop) {
                    font-size: 1.15rem !important;
                }

                @include respond(tablet-mobile) {
                    font-size: 1.1rem !important;
                    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
                }

            }

            .swiper-slide-cta-btn {
                width: 311px;
                height: 40px;
                border-radius: 24px;
                border: #481F5D;
                font-family: $font-normal !important;
                font-weight: 500 !important;
                font-size: $font-size-cta-button !important;
                color: #ffffff !important;
                text-align: center;
                margin-top: 20px;
                @include button-bg(#481F5D);

            }
        }


    }

    .swiper-pagination {
        border-radius: 14.5px;
        background-color: rgba(255, 255, 255, 0.5) !important;
        width: 63px !important;
        height: 29px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

/* Custom Pagination Bullet Styles -- Overrides Pagination Positioning */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    left: 88% !important;
}


/* Browser Specific Styles */

/*  IE10+ */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    @include respond(tablet-mobile) {
        .swiper-slide {
            background-image: url(/asset/sendero_member_home_page/img/carousel/Group%2DIE.png) !important;

            .swiper-text-overlay-container {
                margin-left: 0 !important;
            }
        }



    }

    @include respond(small-laptop) {
        .quick-access-list {
            left: 100px !important;
            position: relative !important;
            flex-basis: 100px !important;
            max-width: 75% !important;
        }

    }

    .swiper-text-overlay-container {
        width: 390px !important;
        position: relative !important;

        .swiper-slide-text-overlay {
            width: 100% !important;
        }
    }

}

/* Chrome, Safari, and also the Edge Browser and Firefox */
@supports (-ms-ime-align:auto) {
    .swiper-text-overlay-container {
        margin-left: 18px !important;

        .swiper-slide-text-overlay {
            padding: 0 20px;
        }
    }
}

/* Safari Only */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        @include respond(tablet-mobile) {
            .swiper-text-overlay-container {
                margin-left: 0 !important;
            }
        }

    }
}