/* Fonts */
@font-face {
  font-family: 'Roboto-Light';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DLight.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DL.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Reg';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DRegular.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DR.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DBold.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DB.woff") format("woff");
}

/* End of Fonts */
/* Imported _Mixins For Media Queries ==== 
========================================*/
/*=== Button States ===*/
/*=== Link Styles ===*/
/* Global Variable Styles */
/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start of Member Notification */
.sendero-homepage-notification-wrapper {
  width: 100%;
}

.sendero-homepage-notification-wrapper .sendero-homepage-notification--info {
  background-color: #CC3366;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sendero-homepage-notification-wrapper .sendero-homepage-notification--info .sendero-notification-content {
  color: #ffffff !important;
  font-family: "Roboto-Light", sans-serif !important;
  position: relative;
  top: 3px;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 743px) and (min-width: 320px) {
  .sendero-homepage-notification-wrapper .sendero-homepage-notification--info .sendero-notification-content {
    text-align: center;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 450px) and (min-width: 320px) {
  .sendero-homepage-notification-wrapper .sendero-homepage-notification--info .sendero-notification-content {
    text-align: left;
  }
}

.sendero-homepage-notification-wrapper .sendero-homepage-notification--info .sendero-notification-content a {
  font-weight: bold !important;
  color: inherit !important;
  font-family: "Roboto-Reg", sans-serif !important;
  text-decoration: none;
}

.sendero-homepage-notification-wrapper .sendero-homepage-notification--info .sendero-notification-content::before {
  content: url(/asset/sendero_member_home_page/img/icons/x%401%2E5x.svg);
  vertical-align: middle;
  margin-right: 8px;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 670px) and (min-width: 320px) {
  .sendero-homepage-notification-wrapper .sendero-homepage-notification--info .sendero-notification-content::before {
    display: none;
  }
}

.sendero-homepage-notification-wrapper .sendero-homepage-notification--info .close-btn {
  width: 20px;
  height: 20px;
}

/* End of Member Notification */
@-moz-document url-prefix() {
  .sendero-notification-content {
    top: 0 !important;
  }
  .sendero-notification-content::before {
    position: relative !important;
    top: 5px !important;
  }
}

/* Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .sendero-notification-content {
      top: 0 !important;
    }
    .sendero-notification-content::before {
      position: relative !important;
      top: 5px !important;
    }
  }
}

/* Safari 10.1 */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
    .sendero-notification-content {
      top: 0 !important;
    }
    .sendero-notification-content::before {
      position: relative !important;
      top: 5px !important;
    }
  }
}

/*  IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sendero-notification-content {
    top: 0 !important;
  }
  .sendero-notification-content::before {
    position: relative !important;
    top: 5px !important;
  }
}

/* Chrome, Safari, and also the Edge Browser and Firefox */
@supports (-ms-ime-align: auto) {
  .sendero-notification-content {
    top: 0 !important;
  }
  .sendero-notification-content::before {
    position: relative !important;
    top: 5px !important;
  }
}
/*# sourceMappingURL=sendero-notification-styles.css.map */