/* Fonts */
@font-face {
  font-family: 'Roboto-Light';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DLight.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DL.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Reg';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DRegular.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DR.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("/asset/sendero_member_home_page/fonts/Roboto%2DBold.woff2") format("woff2"), url("/asset/sendero_member_home_page/fonts/Roboto%2DB.woff") format("woff");
}

/* End of Fonts */
/* Imported _Mixins For Media Queries ==== 
========================================*/
/*=== Button States ===*/
/*=== Link Styles ===*/
/* Global Variable Styles ==== 
=========Family ============*/
/* Font Sizes ================
=========Sizes==============*/
/* Resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

:root {
  font-size: 16px !important;
}

/* Begin Widget Styles */
.widget-container-outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-container-outer-wrapper .widget-container-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  /* Media Queries - Sets Widgets To Stack On Smaller and Mobile Devices */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* Media Queries - Spans Widgets Across The Page Responsively */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget {
    margin: 10px 0;
  }
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-img {
  width: 100%;
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget h3 {
  margin-top: 20px;
  margin-bottom: 0 !important;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  font-family: "Roboto-Bold" !important;
  color: #333333 !important;
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget p {
  text-align: center;
  margin: 0px auto 10px;
  max-width: 90%;
  height: 53px;
  font-family: "Roboto-Reg" !important;
  font-size: 1rem !important !important;
  letter-spacing: 0;
  line-height: 20px;
  color: #333333 !important;
  position: relative;
  top: 5px;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget p {
    height: 30px;
  }
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget p {
    margin-top: 10px !important;
  }
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-cta-btn {
  font-family: "Roboto-Reg" !important;
  font-size: 1rem !important !important;
  cursor: pointer;
  padding: 0.25em 0.75em;
  position: relative;
  width: 156px;
  margin: 15px auto 20px;
  border-radius: 20px;
  color: #ffffff !important;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0;
  border: 1px solid #481F5D;
  /* Mixin Creates All Button States */
  background: #481F5D;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-cta-btn:hover {
  background: #30153e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-cta-btn:active {
  background: #1c0c24;
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-cta-btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px lightskyblue;
          box-shadow: 0 0 0 3px lightskyblue;
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-cta-btn {
    margin: 0px auto 30px !important;
  }
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget .widget-cta-btn::after {
  content: url(/asset/sendero_member_home_page/img/arrow/navigate%5Fnext%5Fwhite%5F24dp.svg);
  margin-top: 5px;
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget {
    width: 100%;
    margin: 5px 0 !important;
  }
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(2) {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(2),
.widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(3) {
  /* Widgets Stack Here */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
  /* @if $breakpoint==mobile {
        @media only screen and (max-width: 375px) {
            @content;
        }
    } */
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(2),
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(3) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(2),
  .widget-container-outer-wrapper .widget-container-inner-wrapper .widget:nth-child(3) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .widget-container-outer-wrapper .widget-container-inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Browser Specific Styles */
/*  IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .widget p {
    left: 20px !important;
  }
}
/*# sourceMappingURL=sendero_member_home_page_widgets.css.map */